@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.tips {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.name {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;

    margin: 20px 40px;

}

.text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;

    margin: 0 40px;

    color: #63666A;
}

.text > div > div {
    margin: 20px 0;
}



